<a 
    *ngIf="data"
    [href]="data.creative_data.click_url"
    target="_blank"
    class="root"
    [style.width.px]="data.width"
    [style.height.px]="data.height"
>
    <app-html-rennab
        *ngIf="data.creative_type === 'thirdparty'"
        [data]="data"
    ></app-html-rennab>
    <app-img-rennab *ngIf="data.creative_type === 'image'" [data]="data">
        
    </app-img-rennab>

    <app-video-rennab *ngIf="data.creative_type === 'video'" [data]="data">
        
    </app-video-rennab>
</a>