<h3>Привет, это дефолтная страница сайта, {{data}}</h3>
<p>Это GIF весом 869кб (2/5 по критериям адекватности размера в Adglare):</p>
<app-rennab placementId="547478933"></app-rennab>
<p>Это GIF весом 5мб (1/5 по критерию адекватности размера)</p>
<app-rennab placementId="190133998"></app-rennab>
<p>Это mp4 весом 800кб (5/5 по критерию адекватности размера)</p>
<app-rennab placementId="682706017"></app-rennab>

<p>У нас есть список</p>
<ol>
    <li>раз</li>
    <li>два</li>
    <li>три</li>
</ol>